.inicio{
    background-color: aqua;
    text-align: center;
}
.inicio h1{
    font-size: 4rem;
}
.inicio h2{
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace;
}
.iconos{
    padding:20rem;
    display: flex;
    justify-content: space-evenly;
}

.iconos li img{
    margin: 20rem;
    padding: 5px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 50px;
}