body{
    background-color: aqua;
}
.inicio{
    background-color: aqua;
    text-align: center;
}
.inicio h1{
    font-size: 4rem;
}
.inicio h2{
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace;
}

.iconos img{
  
    padding: 5px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 50px;
}
/* Parte de los textos*/
h3{
    font-family: cursive;
}
.space{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.text{
    display:flex;
    justify-content: space-between;
    flex-basis: 25%;
    margin-top: 9rem;
    text-align: center;
    color:white;
}
.text p{
    font-family: sans-serif;
}